@import url{'https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&display=swap'};

{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

/* GENERAL */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #333;
}

.container {
  width: 100%;
}

/* INTRO IMAGE */
.intro-image {
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image__link a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  border-radius: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  animation: fadeSlideIn 1.2s ease forwards;
}

.intro-image__link a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  
}

/* INTRO TEXT */
.intro-text {
  padding: 50px;
}

.intro-text__textbox {
  max-width: 600px;
  margin: 0 auto;
  transition: transform 0.3s ease; /* smooth animatie */
}

.intro-text__textbox:hover {
  transform: scale(1.05); /* wordt iets groter */
}


/* QUALITY IMAGE */
.quality-image {
  background-image: url("https://images.unsplash.com/photo-1511920170033-f8396924c348");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 350px;
}

/* QUALITY TEXT */
.quality-text {
  background-color: #f2f2f2;
  padding: 50px;
}

.quality-text__textbox {
  max-width: 600px;
  margin: 0 auto;
}

/* AREA 1 */
.origin-image {
  background-image: url("https://images.unsplash.com/photo-1442512595331-e89e73853f31");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.origin-image a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.origin-image a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

/* AREA 2 */
.origin-image__textbox {
  background-color: #e6e6e6;
  padding: 50px;
}

.origin-image__textbox h2 {
  margin-bottom: 10px;
}

.origin-image__textbox p {
  max-width: 600px;
  margin: 0 auto;
}

/* FOOTER */
footer {
  background-color: #2c2c54;
  color: white;
  padding: 15px;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
